.theme-dark {
    --rs-default-color: #666;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-streaming-color: #6441a5;
    --rs-offline-color: #747f8d;
}

.wrapper__44b0c[role="img"]:before,
.wrapper__44b0c:has([mask="url(#svg-mask-avatar-default)"])[role="img"][aria-label]:before,
.pointer__44b0c[role="button"]:before,
.pointer__44b0c:has([mask="url(#svg-mask-avatar-default)"])[role="button"][aria-label]:before,
.container__1ce5d:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	box-shadow: 0 0 0 2px var(--rs-default-color);
	border-radius: 5px;
	z-index: 1;
}

.wrapper__44b0c[role="img"] .avatar__44b0c,
.wrapper__44b0c[role="img"] .avatar__44b0c:before,
.wrapper__44b0c[role="img"] .avatarSpeaking__44b0c,
.pointer__44b0c[role="button"] .avatar__44b0c,
.pointer__44b0c[role="button"] .avatar__44b0c:before,
.pointer__44b0c[role="button"] .avatarSpeaking__44b0c {
	margin: 2px 0 0 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}

.container__1ce5d foreignObject {
	mask: none;
}

.wrapper__44b0c[role="img"] foreignObject img,
.pointer__44b0c[role="button"] foreignObject img {
	border-radius: 4px;
}

.wrapper__44b0c[role="img"] .mask__44b0c rect,
.pointer__44b0c[role="button"] .mask__44b0c rect,
.container__1ce5d svg rect {
	display: none;
}

.wrapper__44b0c[role="img"][aria-label*="Online"]:before,
.wrapper__44b0c[role="img"][aria-label*="online"]:before,
.wrapper__44b0c[role="img"][aria-label*="Conectado"]:before,
.wrapper__44b0c[role="img"][aria-label*="En línea"]:before,
.wrapper__44b0c[role="img"][aria-label*="En ligne"]:before,
.wrapper__44b0c[role="img"][aria-label*="Na mreži"]:before,
.wrapper__44b0c[role="img"][aria-label*="Prisijungęs"]:before,
.wrapper__44b0c[role="img"][aria-label*="Elérhető"]:before,
.wrapper__44b0c[role="img"][aria-label*="Pålogget"]:before,
.wrapper__44b0c[role="img"][aria-label*="Dostępny"]:before,
.wrapper__44b0c[role="img"][aria-label*="Disponível"]:before,
.wrapper__44b0c[role="img"][aria-label*="Paikalla"]:before,
.wrapper__44b0c[role="img"][aria-label*="Trực tuyến"]:before,
.wrapper__44b0c[role="img"][aria-label*="Çevrimiçi"]:before,
.wrapper__44b0c[role="img"][aria-label*="Συνδεδεμένος"]:before,
.wrapper__44b0c[role="img"][aria-label*="μέσω κινητού"]:before,
.wrapper__44b0c[role="img"][aria-label*="На линия"]:before,
.wrapper__44b0c[role="img"][aria-label*="Онлайн"]:before,
.wrapper__44b0c[role="img"][aria-label*="В сети"]:before,
.wrapper__44b0c[role="img"][aria-label*="В мережі"]:before,
.wrapper__44b0c[role="img"][aria-label*="ऑनलाइन"]:before,
.wrapper__44b0c[role="img"][aria-label*="ออนไลน์"]:before,
.wrapper__44b0c[role="img"][aria-label*="在线"]:before,
.wrapper__44b0c[role="img"][aria-label*="オンライン"]:before,
.wrapper__44b0c[role="img"][aria-label*="線上"]:before,
.wrapper__44b0c[role="img"][aria-label*="온라인"]:before,
.wrapper__44b0c[role="img"][aria-label*="Çevrim içi"]:before,
.wrapper__44b0c[role="img"][aria-label*="üzerinden çevrimiçi"]:before,
.wrapper__44b0c[role="img"][aria-label*="透過行動裝置上線"]:before,
.pointer__44b0c[role="button"][aria-label*="Online"]:before,
.pointer__44b0c[role="button"][aria-label*="online"]:before,
.pointer__44b0c[role="button"][aria-label*="Conectado"]:before,
.pointer__44b0c[role="button"][aria-label*="En línea"]:before,
.pointer__44b0c[role="button"][aria-label*="En ligne"]:before,
.pointer__44b0c[role="button"][aria-label*="Na mreži"]:before,
.pointer__44b0c[role="button"][aria-label*="Prisijungęs"]:before,
.pointer__44b0c[role="button"][aria-label*="Elérhető"]:before,
.pointer__44b0c[role="button"][aria-label*="Pålogget"]:before,
.pointer__44b0c[role="button"][aria-label*="Dostępny"]:before,
.pointer__44b0c[role="button"][aria-label*="Disponível"]:before,
.pointer__44b0c[role="button"][aria-label*="Paikalla"]:before,
.pointer__44b0c[role="button"][aria-label*="Trực tuyến"]:before,
.pointer__44b0c[role="button"][aria-label*="Çevrimiçi"]:before,
.pointer__44b0c[role="button"][aria-label*="Συνδεδεμένος"]:before,
.pointer__44b0c[role="button"][aria-label*="μέσω κινητού"]:before,
.pointer__44b0c[role="button"][aria-label*="На линия"]:before,
.pointer__44b0c[role="button"][aria-label*="Онлайн"]:before,
.pointer__44b0c[role="button"][aria-label*="В сети"]:before,
.pointer__44b0c[role="button"][aria-label*="В мережі"]:before,
.pointer__44b0c[role="button"][aria-label*="ऑनलाइन"]:before,
.pointer__44b0c[role="button"][aria-label*="ออนไลน์"]:before,
.pointer__44b0c[role="button"][aria-label*="在线"]:before,
.pointer__44b0c[role="button"][aria-label*="オンライン"]:before,
.pointer__44b0c[role="button"][aria-label*="線上"]:before,
.pointer__44b0c[role="button"][aria-label*="온라인"]:before,
.pointer__44b0c[role="button"][aria-label*="Çevrim içi"]:before,
.pointer__44b0c[role="button"][aria-label*="üzerinden çevrimiçi"]:before,
.pointer__44b0c[role="button"][aria-label*="透過行動裝置上線"]:before,
.wrapper__44b0c:has([fill="#727272"])[role="img"]:before,
.wrapper__44b0c:has([fill="#727372"])[role="img"]:before,
.wrapper__44b0c:has([fill="#717472"])[role="img"]:before,
.wrapper__44b0c:has([fill="#6e7770"])[role="img"]:before,
.wrapper__44b0c:has([fill="#6b7a6f"])[role="img"]:before,
.wrapper__44b0c:has([fill="#677e6c"])[role="img"]:before,
.wrapper__44b0c:has([fill="#61846a"])[role="img"]:before,
.wrapper__44b0c:has([fill="#5b8a66"])[role="img"]:before,
.wrapper__44b0c:has([fill="#549163"])[role="img"]:before,
.wrapper__44b0c:has([fill="#4c995e"])[role="img"]:before,
.wrapper__44b0c:has([fill="#43a25a"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(67"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(68"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(69"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(70"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(71"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(72"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(73"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(74"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(75"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(76"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(77"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(78"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(79"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(80"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(81"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(82"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(83"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(84"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(85"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(86"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(87"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(88"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(89"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(90"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(91"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(92"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(93"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(94"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(95"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(96"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(97"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(98"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(99"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(100"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(101"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(102"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(103"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(104"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(105"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(106"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(107"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(108"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(109"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(110"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(111"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(112"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(113"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(114"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(115"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(116"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(117"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(118"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(119"])[role="img"]:before,
.container__1ce5d:has([style*="background-color: rgb(114, 114, 114);"]):before,
.container__1ce5d:has([style*="background-color: rgb(114, 115, 114);"]):before,
.container__1ce5d:has([style*="background-color: rgb(113, 116, 114);"]):before,
.container__1ce5d:has([style*="background-color: rgb(110, 119, 112);"]):before,
.container__1ce5d:has([style*="background-color: rgb(107, 122, 111);"]):before,
.container__1ce5d:has([style*="background-color: rgb(103, 126, 108);"]):before,
.container__1ce5d:has([style*="background-color: rgb(97, 132, 106);"]):before,
.container__1ce5d:has([style*="background-color: rgb(91, 138, 102);"]):before,
.container__1ce5d:has([style*="background-color: rgb(84, 145, 99);"]):before,
.container__1ce5d:has([style*="background-color: rgb(76, 153, 94);"]):before,
.container__1ce5d:has([style*="background-color: rgb(67, 162, 90);"]):before {
	box-shadow: 0 0 0 2px var(--rs-online-color);
}

.wrapper__44b0c[role="img"][aria-label*="Do Not Disturb"]:before,
.wrapper__44b0c[role="img"][aria-label*="Vil ikke forstyrres"]:before,
.wrapper__44b0c[role="img"][aria-label*="Bitte nicht stören"]:before,
.wrapper__44b0c[role="img"][aria-label*="No molestar"]:before,
.wrapper__44b0c[role="img"][aria-label*="Ne pas déranger"]:before,
.wrapper__44b0c[role="img"][aria-label*="Ne uznemiravaj"]:before,
.wrapper__44b0c[role="img"][aria-label*="Non disturbare"]:before,
.wrapper__44b0c[role="img"][aria-label*="Netrukdyti"]:before,
.wrapper__44b0c[role="img"][aria-label*="Niet storen"]:before,
.wrapper__44b0c[role="img"][aria-label*="Ikke forstyrr"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nie przeszkadzać"]:before,
.wrapper__44b0c[role="img"][aria-label*="Elfoglalt"]:before,
.wrapper__44b0c[role="img"][aria-label*="Não perturbar"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nu deranja"]:before,
.wrapper__44b0c[role="img"][aria-label*="Älä häiritse"]:before,
.wrapper__44b0c[role="img"][aria-label*="Stör ej"]:before,
.wrapper__44b0c[role="img"][aria-label*="Vui Lòng Không Làm Phiền"]:before,
.wrapper__44b0c[role="img"][aria-label*="Rahatsız Etmeyin"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nerušit"]:before,
.wrapper__44b0c[role="img"][aria-label*="Μην ενοχλείτε"]:before,
.wrapper__44b0c[role="img"][aria-label*="Не ме безпокой"]:before,
.wrapper__44b0c[role="img"][aria-label*="Не беспокоить"]:before,
.wrapper__44b0c[role="img"][aria-label*="Не турбувати"]:before,
.wrapper__44b0c[role="img"][aria-label*="ห้ามรบกวน"]:before,
.wrapper__44b0c[role="img"][aria-label*="请勿打扰"]:before,
.wrapper__44b0c[role="img"][aria-label*="取り込み中"]:before,
.wrapper__44b0c[role="img"][aria-label*="請勿打擾"]:before,
.wrapper__44b0c[role="img"][aria-label*="다른 용무 중"]:before,
.pointer__44b0c[role="button"][aria-label*="Do Not Disturb"]:before,
.pointer__44b0c[role="button"][aria-label*="Vil ikke forstyrres"]:before,
.pointer__44b0c[role="button"][aria-label*="Bitte nicht stören"]:before,
.pointer__44b0c[role="button"][aria-label*="No molestar"]:before,
.pointer__44b0c[role="button"][aria-label*="Ne pas déranger"]:before,
.pointer__44b0c[role="button"][aria-label*="Ne uznemiravaj"]:before,
.pointer__44b0c[role="button"][aria-label*="Non disturbare"]:before,
.pointer__44b0c[role="button"][aria-label*="Netrukdyti"]:before,
.pointer__44b0c[role="button"][aria-label*="Niet storen"]:before,
.pointer__44b0c[role="button"][aria-label*="Ikke forstyrr"]:before,
.pointer__44b0c[role="button"][aria-label*="Nie przeszkadzać"]:before,
.pointer__44b0c[role="button"][aria-label*="Elfoglalt"]:before,
.pointer__44b0c[role="button"][aria-label*="Não perturbar"]:before,
.pointer__44b0c[role="button"][aria-label*="Nu deranja"]:before,
.pointer__44b0c[role="button"][aria-label*="Älä häiritse"]:before,
.pointer__44b0c[role="button"][aria-label*="Stör ej"]:before,
.pointer__44b0c[role="button"][aria-label*="Vui Lòng Không Làm Phiền"]:before,
.pointer__44b0c[role="button"][aria-label*="Rahatsız Etmeyin"]:before,
.pointer__44b0c[role="button"][aria-label*="Nerušit"]:before,
.pointer__44b0c[role="button"][aria-label*="Μην ενοχλείτε"]:before,
.pointer__44b0c[role="button"][aria-label*="Не ме безпокой"]:before,
.pointer__44b0c[role="button"][aria-label*="Не беспокоить"]:before,
.pointer__44b0c[role="button"][aria-label*="Не турбувати"]:before,
.pointer__44b0c[role="button"][aria-label*="ห้ามรบกวน"]:before,
.pointer__44b0c[role="button"][aria-label*="请勿打扰"]:before,
.pointer__44b0c[role="button"][aria-label*="取り込み中"]:before,
.pointer__44b0c[role="button"][aria-label*="請勿打擾"]:before,
.pointer__44b0c[role="button"][aria-label*="다른 용무 중"]:before,
.wrapper__44b0c:has([fill="#898989"])[role="img"]:before,
.wrapper__44b0c:has([fill="#8a8888"])[role="img"]:before,
.wrapper__44b0c:has([fill="#8c8686"])[role="img"]:before,
.wrapper__44b0c:has([fill="#908283"])[role="img"]:before,
.wrapper__44b0c:has([fill="#967c7e"])[role="img"]:before,
.wrapper__44b0c:has([fill="#9d7577"])[role="img"]:before,
.wrapper__44b0c:has([fill="#a56d6f"])[role="img"]:before,
.wrapper__44b0c:has([fill="#b06266"])[role="img"]:before,
.wrapper__44b0c:has([fill="#bb575b"])[role="img"]:before,
.wrapper__44b0c:has([fill="#c9494f"])[role="img"]:before,
.wrapper__44b0c:has([fill="#d83a42"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(216"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(215"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(214"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(213"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(212"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(211"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(210"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(209"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(208"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(207"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(206"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(205"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(204"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(203"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(202"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(201"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(200"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(199"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(198"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(197"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(196"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(195"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(194"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(193"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(192"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(191"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(190"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(189"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(188"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(187"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(186"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(185"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(184"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(183"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(182"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(181"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(180"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(179"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(178"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(177"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(176"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(175"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(174"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(173"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(172"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(171"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(170"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(169"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(168"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(167"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(166"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(165"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(164"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(163"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(162"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(161"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(160"])[role="img"]:before {
	box-shadow: 0 0 0 2px var(--rs-dnd-color);
}

.wrapper__44b0c[role="img"][aria-label*="Idle"]:before,
.wrapper__44b0c[role="img"][aria-label*="Inaktiv"]:before,
.wrapper__44b0c[role="img"][aria-label*="Abwesend"]:before,
.wrapper__44b0c[role="img"][aria-label*="Ausente"]:before,
.wrapper__44b0c[role="img"][aria-label*="Inactif"]:before,
.wrapper__44b0c[role="img"][aria-label*="U mirovanju"]:before,
.wrapper__44b0c[role="img"][aria-label*="Inattivo"]:before,
.wrapper__44b0c[role="img"][aria-label*="Pasitraukęs"]:before,
.wrapper__44b0c[role="img"][aria-label*="Tétlen"]:before,
.wrapper__44b0c[role="img"][aria-label*="Inactief"]:before,
.wrapper__44b0c[role="img"][aria-label*="Zaraz wracam"]:before,
.wrapper__44b0c[role="img"][aria-label*="Inactiv"]:before,
.wrapper__44b0c[role="img"][aria-label*="Toimeton"]:before,
.wrapper__44b0c[role="img"][aria-label*="Chờ"]:before,
.wrapper__44b0c[role="img"][aria-label*="Boşta"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nečinný"]:before,
.wrapper__44b0c[role="img"][aria-label*="Αδρανής"]:before,
.wrapper__44b0c[role="img"][aria-label*="Не се използва"]:before,
.wrapper__44b0c[role="img"][aria-label*="Неактивен"]:before,
.wrapper__44b0c[role="img"][aria-label*="Відійшов"]:before,
.wrapper__44b0c[role="img"][aria-label*="ไม่อยู่"]:before,
.wrapper__44b0c[role="img"][aria-label*="闲置"]:before,
.wrapper__44b0c[role="img"][aria-label*="退席中"]:before,
.wrapper__44b0c[role="img"][aria-label*="閒置"]:before,
.wrapper__44b0c[role="img"][aria-label*="자리비움"]:before,
.pointer__44b0c[role="button"][aria-label*="Idle"]:before,
.pointer__44b0c[role="button"][aria-label*="Inaktiv"]:before,
.pointer__44b0c[role="button"][aria-label*="Abwesend"]:before,
.pointer__44b0c[role="button"][aria-label*="Ausente"]:before,
.pointer__44b0c[role="button"][aria-label*="Inactif"]:before,
.pointer__44b0c[role="button"][aria-label*="U mirovanju"]:before,
.pointer__44b0c[role="button"][aria-label*="Inattivo"]:before,
.pointer__44b0c[role="button"][aria-label*="Pasitraukęs"]:before,
.pointer__44b0c[role="button"][aria-label*="Tétlen"]:before,
.pointer__44b0c[role="button"][aria-label*="Inactief"]:before,
.pointer__44b0c[role="button"][aria-label*="Zaraz wracam"]:before,
.pointer__44b0c[role="button"][aria-label*="Inactiv"]:before,
.pointer__44b0c[role="button"][aria-label*="Toimeton"]:before,
.pointer__44b0c[role="button"][aria-label*="Chờ"]:before,
.pointer__44b0c[role="button"][aria-label*="Boşta"]:before,
.pointer__44b0c[role="button"][aria-label*="Nečinný"]:before,
.pointer__44b0c[role="button"][aria-label*="Αδρανής"]:before,
.pointer__44b0c[role="button"][aria-label*="Не се използва"]:before,
.pointer__44b0c[role="button"][aria-label*="Неактивен"]:before,
.pointer__44b0c[role="button"][aria-label*="Відійшов"]:before,
.pointer__44b0c[role="button"][aria-label*="ไม่อยู่"]:before,
.pointer__44b0c[role="button"][aria-label*="闲置"]:before,
.pointer__44b0c[role="button"][aria-label*="退席中"]:before,
.pointer__44b0c[role="button"][aria-label*="閒置"]:before,
.pointer__44b0c[role="button"][aria-label*="자리비움"]:before,
.wrapper__44b0c:has([fill="#8f8f8f"])[role="img"]:before,
.wrapper__44b0c:has([fill="#908f8e"])[role="img"]:before,
.wrapper__44b0c:has([fill="#918f8d"])[role="img"]:before,
.wrapper__44b0c:has([fill="#94908a"])[role="img"]:before,
.wrapper__44b0c:has([fill="#999085"])[role="img"]:before,
.wrapper__44b0c:has([fill="#9e9181"])[role="img"]:before,
.wrapper__44b0c:has([fill="#a4917a"])[role="img"]:before,
.wrapper__44b0c:has([fill="#ac9372"])[role="img"]:before,
.wrapper__44b0c:has([fill="#b59469"])[role="img"]:before,
.wrapper__44b0c:has([fill="#bf945f"])[role="img"]:before,
.wrapper__44b0c:has([fill="#ca9654"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(203, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(202, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(201, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(200, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(199, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(198, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(197, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(196, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(195, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(194, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(193, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(203, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(202, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(201, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(200, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(199, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(198, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(197, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(196, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(195, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(194, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(193, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(192, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(191, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(190, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(189, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(188, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(187, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(186, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(185, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(184, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(183, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(182, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(181, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(180, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(179, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(178, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(177, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(176, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(175, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(174, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(173, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(172, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(171, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(170, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(169, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(168, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(167, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(166, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(165, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(164, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(163, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(162, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(161, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(160, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(159, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(158, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(157, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(156, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(155, 15"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(160, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(159, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(158, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(157, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(156, 14"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(155, 14"])[role="img"]:before {
	box-shadow: 0 0 0 2px var(--rs-idle-color);
}

.wrapper__44b0c[role="img"][aria-label*="Streaming"]:before,
.wrapper__44b0c[role="img"][aria-label*="Streamer"]:before,
.wrapper__44b0c[role="img"][aria-label*="Transmitiendo"]:before,
.wrapper__44b0c[role="img"][aria-label*="En direct"]:before,
.wrapper__44b0c[role="img"][aria-label*="In diretta"]:before,
.wrapper__44b0c[role="img"][aria-label*="Transliuojama"]:before,
.wrapper__44b0c[role="img"][aria-label*="Közvetítés"]:before,
.wrapper__44b0c[role="img"][aria-label*="Streamt"]:before,
.wrapper__44b0c[role="img"][aria-label*="Strømmer"]:before,
.wrapper__44b0c[role="img"][aria-label*="Streamowanie"]:before,
.wrapper__44b0c[role="img"][aria-label*="Transmitindo"]:before,
.wrapper__44b0c[role="img"][aria-label*="Transmite live"]:before,
.wrapper__44b0c[role="img"][aria-label*="Striimaa"]:before,
.wrapper__44b0c[role="img"][aria-label*="Streamar"]:before,
.wrapper__44b0c[role="img"][aria-label*="Đang stream"]:before,
.wrapper__44b0c[role="img"][aria-label*="Yayın Yapıyor"]:before,
.wrapper__44b0c[role="img"][aria-label*="Streamuje"]:before,
.wrapper__44b0c[role="img"][aria-label*="Ζωντανά"]:before,
.wrapper__44b0c[role="img"][aria-label*="Стрийминг"]:before,
.wrapper__44b0c[role="img"][aria-label*="Стримит"]:before,
.wrapper__44b0c[role="img"][aria-label*="Трансляція"]:before,
.wrapper__44b0c[role="img"][aria-label*="ถ่ายทอดสด"]:before,
.wrapper__44b0c[role="img"][aria-label*="正在直播"]:before,
.wrapper__44b0c[role="img"][aria-label*="配信"]:before,
.wrapper__44b0c[role="img"][aria-label*="直播中"]:before,
.wrapper__44b0c[role="img"][aria-label*="配信"]:before {
	box-shadow: 0 0 0 2px var(--rs-streaming-color);
}

.wrapper__44b0c[role="img"][aria-label*="Offline"]:before,
.wrapper__44b0c[role="img"][aria-label*="Hors ligne"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nem elérhető"]:before,
.wrapper__44b0c[role="img"][aria-label*="Neprisijungęs"]:before,
.wrapper__44b0c[role="img"][aria-label*="Niedostępny"]:before,
.wrapper__44b0c[role="img"][aria-label*="Izvan mreže"]:before,
.wrapper__44b0c[role="img"][aria-label*="오프라인"]:before,
.wrapper__44b0c[role="img"][aria-label*="離線"]:before,
.wrapper__44b0c[role="img"][aria-label*="オフライン"]:before,
.wrapper__44b0c[role="img"][aria-label*="离线"]:before,
.wrapper__44b0c[role="img"][aria-label*="ออฟไลน์"]:before,
.wrapper__44b0c[role="img"][aria-label*="Не в мережі"]:before,
.wrapper__44b0c[role="img"][aria-label*="Не в сети"]:before,
.wrapper__44b0c[role="img"][aria-label*="Извън линия"]:before,
.wrapper__44b0c[role="img"][aria-label*="Αποσυνδεδεμένος"]:before,
.wrapper__44b0c[role="img"][aria-label*="Çevrimdışı"]:before,
.wrapper__44b0c[role="img"][aria-label*="Ngoại tuyến"]:before,
.wrapper__44b0c[role="img"][aria-label*="Ei paikalla"]:before,
.wrapper__44b0c[role="img"][aria-label*="Frakoblet"]:before,
.wrapper__44b0c[role="img"][aria-label*="Desconectado"]:before,
.wrapper__44b0c[role="img"][aria-label*="Invisible"]:before,
.wrapper__44b0c[role="img"][aria-label*="Usynlig"]:before,
.wrapper__44b0c[role="img"][aria-label*="Unsichtbar"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nevidljiv/a"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nematomas"]:before,
.wrapper__44b0c[role="img"][aria-label*="Izvan mreže"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nevidljiv/a"]:before,
.wrapper__44b0c[role="img"][aria-label*="Nematomas"]:before,
.wrapper__44b0c[role="img"][aria-label*="Láthatatlan"]:before,
.wrapper__44b0c[role="img"][aria-label*="Onzichtbaar"]:before,
.wrapper__44b0c[role="img"][aria-label*="Usynlig"]:before,
.wrapper__44b0c[role="img"][aria-label*="Niewidoczny"]:before,
.wrapper__44b0c[role="img"][aria-label*="Invisível"]:before,
.wrapper__44b0c[role="img"][aria-label*="Invizibil"]:before,
.wrapper__44b0c[role="img"][aria-label*="Näkymätön"]:before,
.wrapper__44b0c[role="img"][aria-label*="Osynlig"]:before,
.wrapper__44b0c[role="img"][aria-label*="Vô hình"]:before,
.wrapper__44b0c[role="img"][aria-label*="Görünmez"]:before,
.wrapper__44b0c[role="img"][aria-label*="Neviditelný"]:before,
.wrapper__44b0c[role="img"][aria-label*="Αόρατος"]:before,
.wrapper__44b0c[role="img"][aria-label*="Невидим"]:before,
.wrapper__44b0c[role="img"][aria-label*="Невидимый"]:before,
.wrapper__44b0c[role="img"][aria-label*="Невидимий"]:before,
.wrapper__44b0c[role="img"][aria-label*="ไม่ระบุ"]:before,
.wrapper__44b0c[role="img"][aria-label*="隐身"]:before,
.wrapper__44b0c[role="img"][aria-label*="オンライン状態を隠す"]:before,
.wrapper__44b0c[role="img"][aria-label*="隱形"]:before,
.wrapper__44b0c[role="img"][aria-label*="오프라인 표시"]:before,
.pointer__44b0c[role="button"][aria-label*="Offline"]:before,
.pointer__44b0c[role="button"][aria-label*="Hors ligne"]:before,
.pointer__44b0c[role="button"][aria-label*="Nem elérhető"]:before,
.pointer__44b0c[role="button"][aria-label*="Neprisijungęs"]:before,
.pointer__44b0c[role="button"][aria-label*="Niedostępny"]:before,
.pointer__44b0c[role="button"][aria-label*="Izvan mreže"]:before,
.pointer__44b0c[role="button"][aria-label*="오프라인"]:before,
.pointer__44b0c[role="button"][aria-label*="離線"]:before,
.pointer__44b0c[role="button"][aria-label*="オフライン"]:before,
.pointer__44b0c[role="button"][aria-label*="离线"]:before,
.pointer__44b0c[role="button"][aria-label*="ออฟไลน์"]:before,
.pointer__44b0c[role="button"][aria-label*="Не в мережі"]:before,
.pointer__44b0c[role="button"][aria-label*="Не в сети"]:before,
.pointer__44b0c[role="button"][aria-label*="Извън линия"]:before,
.pointer__44b0c[role="button"][aria-label*="Αποσυνδεδεμένος"]:before,
.pointer__44b0c[role="button"][aria-label*="Çevrimdışı"]:before,
.pointer__44b0c[role="button"][aria-label*="Ngoại tuyến"]:before,
.pointer__44b0c[role="button"][aria-label*="Ei paikalla"]:before,
.pointer__44b0c[role="button"][aria-label*="Frakoblet"]:before,
.pointer__44b0c[role="button"][aria-label*="Desconectado"]:before,
.pointer__44b0c[role="button"][aria-label*="Invisible"]:before,
.pointer__44b0c[role="button"][aria-label*="Usynlig"]:before,
.pointer__44b0c[role="button"][aria-label*="Unsichtbar"]:before,
.pointer__44b0c[role="button"][aria-label*="Nevidljiv/a"]:before,
.pointer__44b0c[role="button"][aria-label*="Nematomas"]:before,
.pointer__44b0c[role="button"][aria-label*="Izvan mreže"]:before,
.pointer__44b0c[role="button"][aria-label*="Nevidljiv/a"]:before,
.pointer__44b0c[role="button"][aria-label*="Nematomas"]:before,
.pointer__44b0c[role="button"][aria-label*="Láthatatlan"]:before,
.pointer__44b0c[role="button"][aria-label*="Onzichtbaar"]:before,
.pointer__44b0c[role="button"][aria-label*="Usynlig"]:before,
.pointer__44b0c[role="button"][aria-label*="Niewidoczny"]:before,
.pointer__44b0c[role="button"][aria-label*="Invisível"]:before,
.pointer__44b0c[role="button"][aria-label*="Invizibil"]:before,
.pointer__44b0c[role="button"][aria-label*="Näkymätön"]:before,
.pointer__44b0c[role="button"][aria-label*="Osynlig"]:before,
.pointer__44b0c[role="button"][aria-label*="Vô hình"]:before,
.pointer__44b0c[role="button"][aria-label*="Görünmez"]:before,
.pointer__44b0c[role="button"][aria-label*="Neviditelný"]:before,
.pointer__44b0c[role="button"][aria-label*="Αόρατος"]:before,
.pointer__44b0c[role="button"][aria-label*="Невидим"]:before,
.pointer__44b0c[role="button"][aria-label*="Невидимый"]:before,
.pointer__44b0c[role="button"][aria-label*="Невидимий"]:before,
.pointer__44b0c[role="button"][aria-label*="ไม่ระบุ"]:before,
.pointer__44b0c[role="button"][aria-label*="隐身"]:before,
.pointer__44b0c[role="button"][aria-label*="オンライン状態を隠す"]:before,
.pointer__44b0c[role="button"][aria-label*="隱形"]:before,
.pointer__44b0c[role="button"][aria-label*="오프라인 표시"]:before,
.wrapper__44b0c:has([fill="#868686"])[role="img"]:before,
.wrapper__44b0c:has([fill="#868687"])[role="img"]:before,
.wrapper__44b0c:has([fill="#858688"])[role="img"]:before,
.wrapper__44b0c:has([fill="#858588"])[role="img"]:before,
.wrapper__44b0c:has([fill="#848589"])[role="img"]:before,
.wrapper__44b0c:has([fill="#848489"])[role="img"]:before,
.wrapper__44b0c:has([fill="#82838b"])[role="img"]:before,
.wrapper__44b0c:has([fill*="rgba(130"])[role="img"]:before {
	box-shadow: 0 0 0 2px var(--rs-offline-color);
}

.cursorDefault__44b0c,
.dots__5ad89 {
	overflow: visible;
}

.mask__44b0c .dots__5ad89 circle,
.dots__1ce5d circle {
	cy: -8 !important;
}

.mask__44b0c .dots__5ad89 circle:nth-child(1),
.dots__1ce5d circle:nth-child(1) {
	cx: -8.5 !important;
}

.mask__44b0c .dots__5ad89 circle:nth-child(2),
.dots__1ce5d circle:nth-child(2) {
	cx: -2.25 !important;
}

.mask__44b0c .dots__5ad89 circle:nth-child(3),
.dots__1ce5d circle:nth-child(3) {
	cx: 4 !important;
}

.container__1ce5d foreignObject img:not(.circularImage__1ce5d),
.container__1ce5d .circularImage__1ce5d {
	margin: 2px 0 0 2px;
	border-radius: 4px;
}

.container__1ce5d[style*="24px"] foreignObject img:not(.circularImage__1ce5d),
.container__1ce5d[style*="24px"] .circularImage__1ce5d {
	width: 12px;
	height: 12px;
}

.container__1ce5d[style*="24px"] foreignObject img:not(.circularImage__1ce5d) {
	margin-bottom: 8px;
}

.container__1ce5d[style*="24px"] .circularImage__1ce5d {
	margin-left: 3px;
}

.container__1ce5d[style*="32px"] foreignObject img:not(.circularImage__1ce5d),
.container__1ce5d[style*="32px"] .circularImage__1ce5d {
	width: 17.333333333333332px;
	height: 17.333333333333332px;
}

.container__1ce5d[style*="80px"] foreignObject img:not(.circularImage__1ce5d),
.container__1ce5d[style*="80px"] .circularImage__1ce5d {
	width: 49.333333333333336px;
	height: 49.333333333333336px;
}

.container__1ce5d div[style*="8px"] {
	top: 7px !important;
	left: 7px !important;
}

.theme-dark .wrapper__44b0c .mask__44b0c foreignObject[mask*=mobile]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="4."][ry*="4."])[role="img"] foreignObject[width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="5."][ry*="5."])[role="img"] foreignObject[width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="6."][ry*="6."])[role="img"] foreignObject[width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="7."][ry*="7."])[role="img"] foreignObject[width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="5."][ry*="5."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="6."][ry*="6."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="7."][ry*="7."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="8."][ry*="8."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="9."][ry*="9."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="7."][ry*="7."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="8."][ry*="8."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="9."][ry*="9."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="10."][ry*="10."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="11."][ry*="11."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="12."][ry*="12."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="13."][ry*="13."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="10."][ry*="10."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="11."][ry*="11."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="12."][ry*="12."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="13."][ry*="13."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="14."][ry*="14."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="15."][ry*="15."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="16."][ry*="16."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="17."][ry*="17."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="18."][ry*="18."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="19."][ry*="19."])[role="img"] foreignObject[width="120"]:after {
	content: "";
	display: block;
	mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
	position: absolute;
	right: 0;
	bottom: 2px;
	z-index: 1;
}

.theme-dark .wrapper__44b0c .mask__44b0c foreignObject[mask*=mobile][width="20"]:after {
	width: 8px;
	height: 8px;
	right: 1px;
}

.theme-dark .wrapper__44b0c .mask__44b0c foreignObject[mask*=mobile][width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="4."][ry*="4."])[role="img"] foreignObject[width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="5."][ry*="5."])[role="img"] foreignObject[width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="6."][ry*="6."])[role="img"] foreignObject[width="32"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="7."][ry*="7."])[role="img"] foreignObject[width="32"]:after {
	width: 16px;
	height: 16px;
	right: -1px;
}

.theme-dark .wrapper__44b0c .mask__44b0c foreignObject[mask*=mobile][width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="5."][ry*="5."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="6."][ry*="6."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="7."][ry*="7."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="8."][ry*="8."])[role="img"] foreignObject[width="40"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="9."][ry*="9."])[role="img"] foreignObject[width="40"]:after {
	width: 20px;
	height: 20px;
	right: -1px;
}

.theme-dark .wrapper__44b0c .mask__44b0c foreignObject[mask*=mobile][width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="7."][ry*="7."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="8."][ry*="8."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="9."][ry*="9."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="10."][ry*="10."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="11."][ry*="11."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="12."][ry*="12."])[role="img"] foreignObject[width="80"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="13."][ry*="13."])[role="img"] foreignObject[width="80"]:after {
	width: 32px;
	height: 32px;
	right: -4px;
}

.theme-dark .wrapper__44b0c .mask__44b0c foreignObject[mask*=mobile][width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="10."][ry*="10."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="11."][ry*="11."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="12."][ry*="12."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="13."][ry*="13."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="14."][ry*="14."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="15."][ry*="15."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="16."][ry*="16."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="17."][ry*="17."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="18."][ry*="18."])[role="img"] foreignObject[width="120"]:after,
.theme-dark .wrapper__44b0c:has(rect[color=black][rx*="19."][ry*="19."])[role="img"] foreignObject[width="120"]:after {
	width: 50px;
	height: 50px;
	right: -8px;
}

.theme-dark .wrapper__44b0c:has([fill="#43a25a"]) .mask__44b0c foreignObject[mask*=mobile]:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="В сети (моб. устройство)"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online via mobil"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online via mobile"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Via Mobilgerät online"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online via Mobile"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="En línea con móvil"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="En línea en un dispositivo móvil"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="En ligne sur mobile"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online na mobilnom uređaju"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online su dispositivo mobile"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Prisijungęs per mobilųjį įrenginį"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online mobillal"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online via mobiel"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Pålogget via mobil"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Dostępny mobilnie"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online via dispositivo móvel"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online prin mobil"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Paikalla mobiilissa"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Trực tuyến trên điện thoại"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Mobil üzerinden çevrimiçi"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Online přes mobil"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Σύνδεση μέσω κινητού"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Онлайн чрез мобилно приложение"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="В мережі з мобільного"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="मोबाइल से ऑनलाइन आएं"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="ออนไลน์ผ่านโทรศัพท์มือถือ"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="移动端在线"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="モバイル経由のオンライン"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="透過行動裝置上線"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="ออนไลน์ผ่านโทรศัพท์มือถือ"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="모바일에서 온라인 접속 중"] foreignObject:after {
	background-color: var(--rs-online-color);
}

.theme-dark .wrapper__44b0c:has([fill="#d83a42"]) .mask__44b0c foreignObject[mask*=mobile]:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Do Not Disturb"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Vil ikke forstyrres"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Bitte nicht stören"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="No molestar"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Ne pas déranger"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Ne uznemiravaj"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Non disturbare"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Netrukdyti"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Niet storen"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Ikke forstyrr"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Nie przeszkadzać"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Elfoglalt"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Não perturbar"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Nu deranja"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Älä häiritse"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Stör ej"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Vui Lòng Không Làm Phiền"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Rahatsız Etmeyin"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Nerušit"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Μην ενοχλείτε"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Не ме безпокой"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Не беспокоить"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Не турбувати"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="ห้ามรบกวน"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="请勿打扰"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="取り込み中"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="請勿打擾"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="다른 용무 중"] foreignObject:after {
	background-color: var(--rs-dnd-color);
}

.theme-dark .wrapper__44b0c:has([fill="#ca9654"]) .mask__44b0c foreignObject[mask*=mobile]:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Idle"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Inaktiv"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Abwesend"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Ausente"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Inactif"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="U mirovanju"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Inattivo"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Pasitraukęs"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Tétlen"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Inactief"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Zaraz wracam"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Inactiv"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Toimeton"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Chờ"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Boşta"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Nečinný"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Αδρανής"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Не се използва"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Неактивен"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="Відійшов"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="ไม่อยู่"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="闲置"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="退席中"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="閒置"] foreignObject:after,
.theme-dark .wrapper__44b0c[role="img"][aria-label*="자리비움"] foreignObject:after {
	background-color: var(--rs-idle-color);
}

.theme-dark .wrapper__44b0c:has([fill="#82838b"]) .mask__44b0c foreignObject[mask*=mobile]:after {
	background-color: var(--rs-offline-color);
}
