.theme-dark .side_b3f026 .item_b3f026:not(.role_f07e3e, .row_e29cd7)::before {
	content: "";
	width: 20px;
	height: 20px;
	background-size: cover !important;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.theme-dark [aria-label="User Settings"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important
}

.theme-dark [aria-label="Настройки пользователя"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important
}

.theme-dark [aria-label="Brugerindstillinger"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Benutzereinstellungen"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Ajustes de usuario"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Paramètres utilisateur"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Korisničke postavke"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Impostazioni utente"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Naudotojo Nustatymai"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Felhasználói beállítások"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Gebruikersinstellingen"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Brukerinnstillinger"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Ustawienia użytkownika"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Configurações de usuário"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Setări utilizator"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Käyttäjäasetukset"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Användarinställningar"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Cài đặt người dùng"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Kullanıcı Ayarları"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Uživatelská nastavení"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Ρυθμίσεις χρήστη"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Користувацькі налаштування"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="Потребителски настройки"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="यूज़र सेटिंग"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="ตั้งค่าผู้ใช้"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="用户设置"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="ユーザー設定"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="使用者設定"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark [aria-label="사용자 설정"].side_b3f026 .item_b3f026 {
	padding-left: 40px !important;
}

.theme-dark .item_b3f026[data-tab-id="My Account"]::before,
.theme-dark .item_b3f026[aria-label="Моя учётная запись"]::before,
.theme-dark .item_b3f026[aria-label="My Account"]::before,
.theme-dark .item_b3f026[aria-label="Mein Account"]::before,
.theme-dark .item_b3f026[aria-label="Min konto"]::before,
.theme-dark .item_b3f026[aria-label="Mi cuenta"]::before,
.theme-dark .item_b3f026[aria-label="Mon compte"]::before,
.theme-dark .item_b3f026[aria-label="Moj račun"]::before,
.theme-dark .item_b3f026[aria-label="Il mio account"]::before,
.theme-dark .item_b3f026[aria-label="Mano Paskyra"]::before,
.theme-dark .item_b3f026[aria-label="Saját fiók"]::before,
.theme-dark .item_b3f026[aria-label="Mijn account"]::before,
.theme-dark .item_b3f026[aria-label="Moje konto"]::before,
.theme-dark .item_b3f026[aria-label="Minha conta"]::before,
.theme-dark .item_b3f026[aria-label="Contul meu"]::before,
.theme-dark .item_b3f026[aria-label="Tilini"]::before,
.theme-dark .item_b3f026[aria-label="Mitt konto"]::before,
.theme-dark .item_b3f026[aria-label="Tài Khoản Của Tôi"]::before,
.theme-dark .item_b3f026[aria-label="Hesabım"]::before,
.theme-dark .item_b3f026[aria-label="Můj účet"]::before,
.theme-dark .item_b3f026[aria-label="Ο λογαριασμός μου"]::before,
.theme-dark .item_b3f026[aria-label="Моят акаунт"]::before,
.theme-dark .item_b3f026[aria-label="Мій акаунт"]::before,
.theme-dark .item_b3f026[aria-label="मेरा अकाउंट"]::before,
.theme-dark .item_b3f026[aria-label="บัญชีของฉัน"]::before,
.theme-dark .item_b3f026[aria-label="我的账号"]::before,
.theme-dark .item_b3f026[aria-label="マイアカウント"]::before,
.theme-dark .item_b3f026[aria-label="我的帳號"]::before,
.theme-dark .item_b3f026[aria-label="내 계정"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/account.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Profile Customization"]::before,
.theme-dark .item_b3f026[aria-label="Профили"]::before,
.theme-dark .item_b3f026[aria-label="Profiles"]::before,
.theme-dark .item_b3f026[aria-label="Profile"]::before,
.theme-dark .item_b3f026[aria-label="Profiler"]::before,
.theme-dark .item_b3f026[aria-label="Perfiles"]::before,
.theme-dark .item_b3f026[aria-label="Profils"]::before,
.theme-dark .item_b3f026[aria-label="Profili"]::before,
.theme-dark .item_b3f026[aria-label="Profiliai"]::before,
.theme-dark .item_b3f026[aria-label="Profilok"]::before,
.theme-dark .item_b3f026[aria-label="Profielen"]::before,
.theme-dark .item_b3f026[aria-label="Perfis"]::before,
.theme-dark .item_b3f026[aria-label="Profiluri"]::before,
.theme-dark .item_b3f026[aria-label="Profiilit"]::before,
.theme-dark .item_b3f026[aria-label="Hồ sơ"]::before,
.theme-dark .item_b3f026[aria-label="Profiller"]::before,
.theme-dark .item_b3f026[aria-label="Profily"]::before,
.theme-dark .item_b3f026[aria-label="Προφίλ"]::before,
.theme-dark .item_b3f026[aria-label="Профілі"]::before,
.theme-dark .item_b3f026[aria-label="प्रोफ़ाइल्स"]::before,
.theme-dark .item_b3f026[aria-label="โปรไฟล์"]::before,
.theme-dark .item_b3f026[aria-label="个人资料"]::before,
.theme-dark .item_b3f026[aria-label="プロフィール"]::before,
.theme-dark .item_b3f026[aria-label="個人資料"]::before,
.theme-dark .item_b3f026[aria-label="프로필"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/Profiles.svg) center;
}

.theme-dark .item_b3f026[data-tab-id="Data & Privacy"]::before,
.theme-dark .item_b3f026[aria-label="Данные и конфиденциальность"]::before,
.theme-dark .item_b3f026[aria-label="Data & Privacy"]::before,
.theme-dark .item_b3f026[aria-label="Daten & Privatsphäre"]::before,
.theme-dark .item_b3f026[aria-label="Data og privatliv"]::before,
.theme-dark .item_b3f026[aria-label="Datos y privacidad"]::before,
.theme-dark .item_b3f026[aria-label="Données et confidentialité"]::before,
.theme-dark .item_b3f026[aria-label="Podaci i privatnost"]::before,
.theme-dark .item_b3f026[aria-label="Dati e privacy"]::before,
.theme-dark .item_b3f026[aria-label="Duomenys ir privatumas"]::before,
.theme-dark .item_b3f026[aria-label="Adatok és adatvédelem"]::before,
.theme-dark .item_b3f026[aria-label="Data en privacy"]::before,
.theme-dark .item_b3f026[aria-label="Data og personvern"]::before,
.theme-dark .item_b3f026[aria-label="Dane i prywatność"]::before,
.theme-dark .item_b3f026[aria-label="Dados e privacidade"]::before,
.theme-dark .item_b3f026[aria-label="Date și confidențialitate"]::before,
.theme-dark .item_b3f026[aria-label="Data ja tietosuoja"]::before,
.theme-dark .item_b3f026[aria-label="Data och integritet"]::before,
.theme-dark .item_b3f026[aria-label="Dữ Liệu & Bảo Mật"]::before,
.theme-dark .item_b3f026[aria-label="Veri ve Gizlilik"]::before,
.theme-dark .item_b3f026[aria-label*="soukromí"]::before,
.theme-dark .item_b3f026[aria-label="Δεδομένα και Απόρρητο"]::before,
.theme-dark .item_b3f026[aria-label="Данни и поверителност"]::before,
.theme-dark .item_b3f026[aria-label="Дані й конфіденційність"]::before,
.theme-dark .item_b3f026[aria-label="डेटा और प्राइवेसी"]::before,
.theme-dark .item_b3f026[aria-label="ข้อมูลและความเป็นส่วนตัว"]::before,
.theme-dark .item_b3f026[aria-label="数据与隐私"]::before,
.theme-dark .item_b3f026[aria-label="データ&プライバシー"]::before,
.theme-dark .item_b3f026[aria-label="資料和隱私"]::before,
.theme-dark .item_b3f026[aria-label="데이터 및 개인정보"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/privacy.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Family Center"]::before,
.theme-dark .item_b3f026[aria-label="Семейный центр"]::before,
.theme-dark .item_b3f026[aria-label="Family Center"]::before,
.theme-dark .item_b3f026[aria-label="Familiencenter"]::before,
.theme-dark .item_b3f026[aria-label="Familiecenter"]::before,
.theme-dark .item_b3f026[aria-label="Centro familiar"]::before,
.theme-dark .item_b3f026[aria-label="Centre familial"]::before,
.theme-dark .item_b3f026[aria-label="Obiteljski centar"]::before,
.theme-dark .item_b3f026[aria-label="Centro famiglie"]::before,
.theme-dark .item_b3f026[aria-label="Šeimos skyrius"]::before,
.theme-dark .item_b3f026[aria-label="Családi központ"]::before,
.theme-dark .item_b3f026[aria-label="Familiecentrum"]::before,
.theme-dark .item_b3f026[aria-label="Familiesenter"]::before,
.theme-dark .item_b3f026[aria-label="Centrum rodzinne"]::before,
.theme-dark .item_b3f026[aria-label="Central da Família"]::before,
.theme-dark .item_b3f026[aria-label="Centrul pentru familii"]::before,
.theme-dark .item_b3f026[aria-label="Perhekeskus"]::before,
.theme-dark .item_b3f026[aria-label="Familjecenter"]::before,
.theme-dark .item_b3f026[aria-label="Trung Tâm Gia Đình"]::before,
.theme-dark .item_b3f026[aria-label="Aile Merkezi"]::before,
.theme-dark .item_b3f026[aria-label="Rodinné centrum"]::before,
.theme-dark .item_b3f026[aria-label="Κέντρο οικογένειας"]::before,
.theme-dark .item_b3f026[aria-label="Семеен център"]::before,
.theme-dark .item_b3f026[aria-label="Сімейний центр"]::before,
.theme-dark .item_b3f026[aria-label="फ़ैमिली सेंटर"]::before,
.theme-dark .item_b3f026[aria-label="ศูนย์ครอบครัว"]::before,
.theme-dark .item_b3f026[aria-label="家庭中心"]::before,
.theme-dark .item_b3f026[aria-label="ファミリーセンター"]::before,
.theme-dark .item_b3f026[aria-label="가족 센터"]::before {
	background: url(https://xcruxiex.github.io/themes/core/Settings-Icons/FamilyCentre.svg) center;
}

.theme-dark .item_b3f026[data-tab-id="Authorized Apps"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/apps.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Sessions"]::before,
.theme-dark .item_b3f026[aria-label="Устройства"]::before,
.theme-dark .item_b3f026[aria-label="Devices"]::before,
.theme-dark .item_b3f026[aria-label="Geräte"]::before,
.theme-dark .item_b3f026[aria-label="Enheder"]::before,
.theme-dark .item_b3f026[aria-label="Dispositivos"]::before,
.theme-dark .item_b3f026[aria-label="Appareils"]::before,
.theme-dark .item_b3f026[aria-label="Uređaji"]::before,
.theme-dark .item_b3f026[aria-label="Dispositivi"]::before,
.theme-dark .item_b3f026[aria-label="Įrenginiai"]::before,
.theme-dark .item_b3f026[aria-label="Eszközök"]::before,
.theme-dark .item_b3f026[aria-label="Apparaten"]::before,
.theme-dark .item_b3f026[aria-label="Enheter"]::before,
.theme-dark .item_b3f026[aria-label="Urządzenia"]::before,
.theme-dark .item_b3f026[aria-label="Dispozitive"]::before,
.theme-dark .item_b3f026[aria-label="Laitteet"]::before,
.theme-dark .item_b3f026[aria-label="Thiết bị"]::before,
.theme-dark .item_b3f026[aria-label="Cihazlar"]::before,
.theme-dark .item_b3f026[aria-label="Zařízení"]::before,
.theme-dark .item_b3f026[aria-label="Συσκευές"]::before,
.theme-dark .item_b3f026[aria-label="Пристрої"]::before,
.theme-dark .item_b3f026[aria-label="डिवाइस"]::before,
.theme-dark .item_b3f026[aria-label="อุปกรณ์"]::before,
.theme-dark .item_b3f026[aria-label="设备"]::before,
.theme-dark .item_b3f026[aria-label="デバイス"]::before,
.theme-dark .item_b3f026[aria-label="裝置"]::before,
.theme-dark .item_b3f026[aria-label="기기"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/Devices.svg) center;
}

.theme-dark .item_b3f026[data-tab-id="Connections"]::before,
.theme-dark .item_b3f026[aria-label="Интеграции"]::before,
.theme-dark .item_b3f026[aria-label="Connections"]::before,
.theme-dark .item_b3f026[aria-label="Verknüpfungen"]::before,
.theme-dark .item_b3f026[aria-label="Forbindelser"]::before,
.theme-dark .item_b3f026[aria-label="Conexiones"]::before,
.theme-dark .item_b3f026[aria-label="Connexions"]::before,
.theme-dark .item_b3f026[aria-label="Veze"]::before,
.theme-dark .item_b3f026[aria-label="Collegamenti"]::before,
.theme-dark .item_b3f026[aria-label="Sąsajos"]::before,
.theme-dark .item_b3f026[aria-label="Kapcsolatok"]::before,
.theme-dark .item_b3f026[aria-label="Verbindingen"]::before,
.theme-dark .item_b3f026[aria-label="Tilkoblinger"]::before,
.theme-dark .item_b3f026[aria-label="Połączone konta"]::before,
.theme-dark .item_b3f026[aria-label="Conexões"]::before,
.theme-dark .item_b3f026[aria-label="Conexiuni"]::before,
.theme-dark .item_b3f026[aria-label="Yhteydet"]::before,
.theme-dark .item_b3f026[aria-label="Anslutningar"]::before,
.theme-dark .item_b3f026[aria-label="Kết Nối"]::before,
.theme-dark .item_b3f026[aria-label="Bağlantılar"]::before,
.theme-dark .item_b3f026[aria-label="Propojení"]::before,
.theme-dark .item_b3f026[aria-label="Συνδέσεις"]::before,
.theme-dark .item_b3f026[aria-label="Връзки"]::before,
.theme-dark .item_b3f026[aria-label="З'єднання"]::before,
.theme-dark .item_b3f026[aria-label="कनेक्शन"]::before,
.theme-dark .item_b3f026[aria-label="การเชื่อมต่อ"]::before,
.theme-dark .item_b3f026[aria-label="连接​​​​​​​​"]::before,
.theme-dark .item_b3f026[aria-label="接続"]::before,
.theme-dark .item_b3f026[aria-label="連接"]::before,
.theme-dark .item_b3f026[aria-label="연결"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/connections.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Settings Clips"]::before,
.theme-dark .item_b3f026[aria-label="Видеонарезки"]::before,
.theme-dark .item_b3f026[aria-label="Clips"]::before,
.theme-dark .item_b3f026[aria-label="Klip"]::before,
.theme-dark .item_b3f026[aria-label="Isječci"]::before,
.theme-dark .item_b3f026[aria-label="Clip"]::before,
.theme-dark .item_b3f026[aria-label="Iškarpos"]::before,
.theme-dark .item_b3f026[aria-label="Klipek"]::before,
.theme-dark .item_b3f026[aria-label="Klipp"]::before,
.theme-dark .item_b3f026[aria-label="Klipy"]::before,
.theme-dark .item_b3f026[aria-label="Clipes"]::before,
.theme-dark .item_b3f026[aria-label="Clipuri"]::before,
.theme-dark .item_b3f026[aria-label="Leikkeet"]::before,
.theme-dark .item_b3f026[aria-label="Klipler"]::before,
.theme-dark .item_b3f026[aria-label="Κλιπ"]::before,
.theme-dark .item_b3f026[aria-label="Клипове"]::before,
.theme-dark .item_b3f026[aria-label="Відеонарізки"]::before,
.theme-dark .item_b3f026[aria-label="क्लिप्स"]::before,
.theme-dark .item_b3f026[aria-label="คลิป"]::before,
.theme-dark .item_b3f026[aria-label="剪辑片段"]::before,
.theme-dark .item_b3f026[aria-label="クリップ"]::before,
.theme-dark .item_b3f026[aria-label="剪輯影片"]::before,
.theme-dark .item_b3f026[aria-label="클립"]::before {
	background: url(https://xcruxiex.github.io/themes/core/Settings-Icons/Clips.svg) center;
}

.theme-dark .premiumTab__581ea::before,
.theme-dark .item_b3f026[data-tab-id="Discord Nitro"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/nitro.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Nitro Server Boost"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/boost.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Subscriptions"]::before,
.theme-dark .item_b3f026[aria-label="Подписки"]::before,
.theme-dark .item_b3f026[aria-label="Subscriptions"]::before,
.theme-dark .item_b3f026[aria-label="Abonnements"]::before,
.theme-dark .item_b3f026[aria-label="Abonnementer"]::before,
.theme-dark .item_b3f026[aria-label="Suscripciones"]::before,
.theme-dark .item_b3f026[aria-label="Pretplate"]::before,
.theme-dark .item_b3f026[aria-label="Abbonamenti"]::before,
.theme-dark .item_b3f026[aria-label="Prenumeratos"]::before,
.theme-dark .item_b3f026[aria-label="Előfizetések"]::before,
.theme-dark .item_b3f026[aria-label="Abonnementen"]::before,
.theme-dark .item_b3f026[aria-label="Subskrypcje"]::before,
.theme-dark .item_b3f026[aria-label="Assinaturas"]::before,
.theme-dark .item_b3f026[aria-label="Abonamente"]::before,
.theme-dark .item_b3f026[aria-label="Tilaukset"]::before,
.theme-dark .item_b3f026[aria-label="Prenumerationer"]::before,
.theme-dark .item_b3f026[aria-label="Đăng Ký"]::before,
.theme-dark .item_b3f026[aria-label="Abonelikler"]::before,
.theme-dark .item_b3f026[data-tab-id="Billing"]::before,
.theme-dark .item_b3f026[aria-label="Выставление счетов"]::before,
.theme-dark .item_b3f026[aria-label="Billing"]::before,
.theme-dark .item_b3f026[aria-label="Zahlungsabwicklung"]::before,
.theme-dark .item_b3f026[aria-label="Fakturering"]::before,
.theme-dark .item_b3f026[aria-label="Facturación"]::before,
.theme-dark .item_b3f026[aria-label="Facturation"]::before,
.theme-dark .item_b3f026[aria-label="Obračun"]::before,
.theme-dark .item_b3f026[aria-label="Fatturazione"]::before,
.theme-dark .item_b3f026[aria-label="Atsiskaitymas"]::before,
.theme-dark .item_b3f026[aria-label="Számlázás"]::before,
.theme-dark .item_b3f026[aria-label="Facturatie"]::before,
.theme-dark .item_b3f026[aria-label="Płatności"]::before,
.theme-dark .item_b3f026[aria-label="Cobrança"]::before,
.theme-dark .item_b3f026[aria-label="Facturare"]::before,
.theme-dark .item_b3f026[aria-label="Laskutus"]::before,
.theme-dark .item_b3f026[aria-label="Thanh toán"]::before,
.theme-dark .item_b3f026[aria-label="Faturalandırma"]::before,
.theme-dark .item_b3f026[aria-label="Předplatné"]::before,
.theme-dark .item_b3f026[aria-label="Fakturace"]::before,
.theme-dark .item_b3f026[aria-label="Συνδρομές"]::before,
.theme-dark .item_b3f026[aria-label="Τιμολόγηση"]::before,
.theme-dark .item_b3f026[aria-label="Абонаменти"]::before,
.theme-dark .item_b3f026[aria-label="Таксуване"]::before,
.theme-dark .item_b3f026[aria-label="Передплати"]::before,
.theme-dark .item_b3f026[aria-label="Виставлення рахунку"]::before,
.theme-dark .item_b3f026[aria-label="सब्सक्रिप्शन"]::before,
.theme-dark .item_b3f026[aria-label="बिलिंग"]::before,
.theme-dark .item_b3f026[aria-label="การสมัครสมาชิก"]::before,
.theme-dark .item_b3f026[aria-label="การชำระเงิน"]::before,
.theme-dark .item_b3f026[aria-label="订阅"]::before,
.theme-dark .item_b3f026[aria-label="账单"]::before,
.theme-dark .item_b3f026[aria-label="サブスクリプション"]::before,
.theme-dark .item_b3f026[aria-label="請求"]::before,
.theme-dark .item_b3f026[aria-label="訂閱"]::before,
.theme-dark .item_b3f026[aria-label="帳單"]::before,
.theme-dark .item_b3f026[aria-label="구독"]::before,
.theme-dark .item_b3f026[aria-label="청구"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/billing.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Library Inventory"]::before,
.theme-dark .item_b3f026[aria-label="Склад подарков"]::before,
.theme-dark .item_b3f026[aria-label="Gift Inventory"]::before,
.theme-dark .item_b3f026[aria-label="Geschenkinventar"]::before,
.theme-dark .item_b3f026[aria-label="Gave inventar"]::before,
.theme-dark .item_b3f026[aria-label="Inventario de regalos"]::before,
.theme-dark .item_b3f026[aria-label="Inventaire des cadeaux"]::before,
.theme-dark .item_b3f026[aria-label="Popis darova"]::before,
.theme-dark .item_b3f026[aria-label="Inventario regali"]::before,
.theme-dark .item_b3f026[aria-label="Dovanų atsargos"]::before,
.theme-dark .item_b3f026[aria-label="Ajándék leltár"]::before,
.theme-dark .item_b3f026[aria-label="Cadeau-inventaris"]::before,
.theme-dark .item_b3f026[aria-label="Gaver"]::before,
.theme-dark .item_b3f026[aria-label="Ekwipunek prezentów"]::before,
.theme-dark .item_b3f026[aria-label="Inventário de presentes"]::before,
.theme-dark .item_b3f026[aria-label="Inventar cadouri"]::before,
.theme-dark .item_b3f026[aria-label="Lahjaluettelo"]::before,
.theme-dark .item_b3f026[aria-label="Gåvolager"]::before,
.theme-dark .item_b3f026[aria-label="Kho Quà Tặng"]::before,
.theme-dark .item_b3f026[aria-label="Hediye Envanteri"]::before,
.theme-dark .item_b3f026[aria-label="Inventář dárků"]::before,
.theme-dark .item_b3f026[aria-label="Απόθεμα δώρων"]::before,
.theme-dark .item_b3f026[aria-label="Инвентар с подаръци"]::before,
.theme-dark .item_b3f026[aria-label="Перелік подарунків"]::before,
.theme-dark .item_b3f026[aria-label="गिफ्ट सूची"]::before,
.theme-dark .item_b3f026[aria-label="ห้องเก็บของขวัญ"]::before,
.theme-dark .item_b3f026[aria-label="礼物库"]::before,
.theme-dark .item_b3f026[aria-label="ギフトインベントリ"]::before,
.theme-dark .item_b3f026[aria-label="禮物庫存"]::before,
.theme-dark .item_b3f026[aria-label="선물 인벤토리"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/gift.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Appearance"]::before,
.theme-dark .item_b3f026[aria-label="Внешний вид"]::before,
.theme-dark .item_b3f026[aria-label="Appearance"]::before,
.theme-dark .item_b3f026[aria-label="Erscheinungsbild"]::before,
.theme-dark .item_b3f026[aria-label="Udseende"]::before,
.theme-dark .item_b3f026[aria-label="Apariencia"]::before,
.theme-dark .item_b3f026[aria-label="Apparence"]::before,
.theme-dark .item_b3f026[aria-label="Izgled"]::before,
.theme-dark .item_b3f026[aria-label="Aspetto"]::before,
.theme-dark .item_b3f026[aria-label="Išvaizda"]::before,
.theme-dark .item_b3f026[aria-label="Megjelenés"]::before,
.theme-dark .item_b3f026[aria-label="Weergave"]::before,
.theme-dark .item_b3f026[aria-label="Utseende"]::before,
.theme-dark .item_b3f026[aria-label="Wygląd"]::before,
.theme-dark .item_b3f026[aria-label="Aparência"]::before,
.theme-dark .item_b3f026[aria-label="Aspect"]::before,
.theme-dark .item_b3f026[aria-label="Ulkoasu"]::before,
.theme-dark .item_b3f026[aria-label="Hiển thị"]::before,
.theme-dark .item_b3f026[aria-label="Görünüm"]::before,
.theme-dark .item_b3f026[aria-label="Vzhled"]::before,
.theme-dark .item_b3f026[aria-label="Εμφάνιση"]::before,
.theme-dark .item_b3f026[aria-label="Външен вид"]::before,
.theme-dark .item_b3f026[aria-label="Зовнішній вигляд"]::before,
.theme-dark .item_b3f026[aria-label="अपीरंस"]::before,
.theme-dark .item_b3f026[aria-label="หน้าตา"]::before,
.theme-dark .item_b3f026[aria-label="外观"]::before,
.theme-dark .item_b3f026[aria-label="テーマ"]::before,
.theme-dark .item_b3f026[aria-label="外觀"]::before,
.theme-dark .item_b3f026[aria-label="디스플레이"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/eye.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Accessibility"]::before,
.theme-dark .item_b3f026[aria-label="Специальные возможности"]::before,
.theme-dark .item_b3f026[aria-label="Accessibility"]::before,
.theme-dark .item_b3f026[aria-label="Barrierefreiheit"]::before,
.theme-dark .item_b3f026[aria-label="Tilgængelighed"]::before,
.theme-dark .item_b3f026[aria-label="Accesibilidad"]::before,
.theme-dark .item_b3f026[aria-label="Accessibilité"]::before,
.theme-dark .item_b3f026[aria-label="Pristupačnost"]::before,
.theme-dark .item_b3f026[aria-label="Accessibilità"]::before,
.theme-dark .item_b3f026[aria-label="Pritaikymas neįgaliesiems"]::before,
.theme-dark .item_b3f026[aria-label="Kisegítő lehetőségek"]::before,
.theme-dark .item_b3f026[aria-label="Toegankelijkheid"]::before,
.theme-dark .item_b3f026[aria-label="Tilgjengelighet"]::before,
.theme-dark .item_b3f026[aria-label="Dostępność"]::before,
.theme-dark .item_b3f026[aria-label="Acessibilidade"]::before,
.theme-dark .item_b3f026[aria-label="Accesibilitate"]::before,
.theme-dark .item_b3f026[aria-label="Helppokäyttöisyys"]::before,
.theme-dark .item_b3f026[aria-label="Tillgänglighet"]::before,
.theme-dark .item_b3f026[aria-label="Trợ Năng"]::before,
.theme-dark .item_b3f026[aria-label="Erişilebilirlik"]::before,
.theme-dark .item_b3f026[aria-label="Dostupnost"]::before,
.theme-dark .item_b3f026[aria-label="Προσβασιμότητα"]::before,
.theme-dark .item_b3f026[aria-label="Достъпност"]::before,
.theme-dark .item_b3f026[aria-label="Спеціальні можливості"]::before,
.theme-dark .item_b3f026[aria-label="एक्सेसिबिलिटी"]::before,
.theme-dark .item_b3f026[aria-label="การเข้าถึง"]::before,
.theme-dark .item_b3f026[aria-label="可访问性"]::before,
.theme-dark .item_b3f026[aria-label="ユーザー補助"]::before,
.theme-dark .item_b3f026[aria-label="輔助功能"]::before,
.theme-dark .item_b3f026[aria-label="접근성"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/Accesibility.svg) center;
}

.theme-dark .item_b3f026[data-tab-id="Voice & Video"]::before,
.theme-dark .item_b3f026[aria-label="Голос и видео"]::before,
.theme-dark .item_b3f026[aria-label="Voice & Video"]::before,
.theme-dark .item_b3f026[aria-label="Sprach- & Videochat"]::before,
.theme-dark .item_b3f026[aria-label="Stemme og video"]::before,
.theme-dark .item_b3f026[aria-label="Voz y video"]::before,
.theme-dark .item_b3f026[aria-label="Voix & Vidéo"]::before,
.theme-dark .item_b3f026[aria-label="Glas i video"]::before,
.theme-dark .item_b3f026[aria-label="Voce e video"]::before,
.theme-dark .item_b3f026[aria-label="Garsas ir Vaizdas"]::before,
.theme-dark .item_b3f026[aria-label="Hang és videó"]::before,
.theme-dark .item_b3f026[aria-label="Spraak en video"]::before,
.theme-dark .item_b3f026[aria-label="Tale og video"]::before,
.theme-dark .item_b3f026[aria-label="Głos i wideo"]::before,
.theme-dark .item_b3f026[aria-label="Voz e vídeo"]::before,
.theme-dark .item_b3f026[aria-label="Voce și video"]::before,
.theme-dark .item_b3f026[aria-label="Ääni ja video"]::before,
.theme-dark .item_b3f026[aria-label="Röst & video"]::before,
.theme-dark .item_b3f026[aria-label="Giọng nói và Video"]::before,
.theme-dark .item_b3f026[aria-label="Ses ve Görüntü"]::before,
.theme-dark .item_b3f026[aria-label="Hlas a video"]::before,
.theme-dark .item_b3f026[aria-label="Φωνή & Βίντεο"]::before,
.theme-dark .item_b3f026[aria-label="Глас и видео"]::before,
.theme-dark .item_b3f026[aria-label="Голос та відео"]::before,
.theme-dark .item_b3f026[aria-label="वॉयस और वीडियो"]::before,
.theme-dark .item_b3f026[aria-label="เสียงและวิดีโอ"]::before,
.theme-dark .item_b3f026[aria-label="语音和视频"]::before,
.theme-dark .item_b3f026[aria-label="音声・ビデオ"]::before,
.theme-dark .item_b3f026[aria-label="語音 & 視訊"]::before,
.theme-dark .item_b3f026[aria-label="음성 및 비디오"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/voice.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Text & Images"]::before,
.theme-dark .item_b3f026[aria-label="Чат"]::before,
.theme-dark .item_b3f026[aria-label="Chat"]::before,
.theme-dark .item_b3f026[aria-label="Pokalbis"]::before,
.theme-dark .item_b3f026[aria-label="Csevegés"]::before,
.theme-dark .item_b3f026[aria-label="Czat"]::before,
.theme-dark .item_b3f026[aria-label="Bate-papo"]::before,
.theme-dark .item_b3f026[aria-label="Discută"]::before,
.theme-dark .item_b3f026[aria-label="Keskustele"]::before,
.theme-dark .item_b3f026[aria-label="Chatt"]::before,
.theme-dark .item_b3f026[aria-label="Trò chuyện"]::before,
.theme-dark .item_b3f026[aria-label="Sohbet"]::before,
.theme-dark .item_b3f026[aria-label="Γραπτή συνομιλία"]::before,
.theme-dark .item_b3f026[aria-label="चैट करें"]::before,
.theme-dark .item_b3f026[aria-label="แชท"]::before,
.theme-dark .item_b3f026[aria-label="聊天"]::before,
.theme-dark .item_b3f026[aria-label="チャット"]::before,
.theme-dark .item_b3f026[aria-label="채팅"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/text.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Notifications"]::before,
.theme-dark .item_b3f026[aria-label="Уведомления"]::before,
.theme-dark .item_b3f026[aria-label="Notifications"]::before,
.theme-dark .item_b3f026[aria-label="Benachrichtigungen"]::before,
.theme-dark .item_b3f026[aria-label="Meddelelser"]::before,
.theme-dark .item_b3f026[aria-label="Notificaciones"]::before,
.theme-dark .item_b3f026[aria-label="Obavijesti"]::before,
.theme-dark .item_b3f026[aria-label="Notifiche"]::before,
.theme-dark .item_b3f026[aria-label="Pranešimai"]::before,
.theme-dark .item_b3f026[aria-label="Értesítések"]::before,
.theme-dark .item_b3f026[aria-label="Meldingen"]::before,
.theme-dark .item_b3f026[aria-label="Varsler"]::before,
.theme-dark .item_b3f026[aria-label="Powiadomienia"]::before,
.theme-dark .item_b3f026[aria-label="Notificações"]::before,
.theme-dark .item_b3f026[aria-label="Notificări"]::before,
.theme-dark .item_b3f026[aria-label="Ilmoitukset"]::before,
.theme-dark .item_b3f026[aria-label="Aviseringar"]::before,
.theme-dark .item_b3f026[aria-label="Các Thông Báo"]::before,
.theme-dark .item_b3f026[aria-label="Bildirimler"]::before,
.theme-dark .item_b3f026[aria-label="Oznámení"]::before,
.theme-dark .item_b3f026[aria-label="Ειδοποιήσεις"]::before,
.theme-dark .item_b3f026[aria-label="Известия"]::before,
.theme-dark .item_b3f026[aria-label="Сповіщення"]::before,
.theme-dark .item_b3f026[aria-label="नोटिफिकेशन"]::before,
.theme-dark .item_b3f026[aria-label="การแจ้งเตือน"]::before,
.theme-dark .item_b3f026[aria-label="通知"]::before,
.theme-dark .item_b3f026[aria-label="알림"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/notifications.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Keybinds"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/keybinds.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Language"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/language.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Windows"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/windows.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Streamer Mode"]::before,
.theme-dark .item_b3f026[aria-label="Режим стримера"]::before,
.theme-dark .item_b3f026[aria-label="Streamer Mode"]::before,
.theme-dark .item_b3f026[aria-label="Streamer-Modus"]::before,
.theme-dark .item_b3f026[aria-label="Streamer-tilstand"]::before,
.theme-dark .item_b3f026[aria-label="Modo de transmisión en vivo"]::before,
.theme-dark .item_b3f026[aria-label="Mode streamer"]::before,
.theme-dark .item_b3f026[aria-label="Streamer način rada"]::before,
.theme-dark .item_b3f026[aria-label="Modalità Streamer"]::before,
.theme-dark .item_b3f026[aria-label="Transliavimo režimas"]::before,
.theme-dark .item_b3f026[aria-label="Közvetítő mód"]::before,
.theme-dark .item_b3f026[aria-label="Streamer-modus"]::before,
.theme-dark .item_b3f026[aria-label="Strømmermodus"]::before,
.theme-dark .item_b3f026[aria-label="Tryb streamowania"]::before,
.theme-dark .item_b3f026[aria-label="Modo streamer"]::before,
.theme-dark .item_b3f026[aria-label="Mod Streamer"]::before,
.theme-dark .item_b3f026[aria-label="Striimaustila"]::before,
.theme-dark .item_b3f026[aria-label="Streamarläge"]::before,
.theme-dark .item_b3f026[aria-label="Chế độ streamer"]::before,
.theme-dark .item_b3f026[aria-label="Yayıncı Modu"]::before,
.theme-dark .item_b3f026[aria-label="Streamovací režim"]::before,
.theme-dark .item_b3f026[aria-label="Λειτουργία ζωντανής ροής"]::before,
.theme-dark .item_b3f026[aria-label="Стрийминг режим"]::before,
.theme-dark .item_b3f026[aria-label="स्ट्रीमर मोड"]::before,
.theme-dark .item_b3f026[aria-label="โหมดสตรีม"]::before,
.theme-dark .item_b3f026[aria-label="主播模式"]::before,
.theme-dark .item_b3f026[aria-label="配信モード"]::before,
.theme-dark .item_b3f026[aria-label="直播模式"]::before,
.theme-dark .item_b3f026[aria-label="방송 모드"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/twitch.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Advanced"]::before,
.theme-dark .item_b3f026[aria-label="Расширенные"]::before,
.theme-dark .item_b3f026[aria-label="Advanced"]::before,
.theme-dark .item_b3f026[aria-label="Erweitert"]::before,
.theme-dark .item_b3f026[aria-label="Avanceret"]::before,
.theme-dark .item_b3f026[aria-label="Avanzados"]::before,
.theme-dark .item_b3f026[aria-label="Avancés"]::before,
.theme-dark .item_b3f026[aria-label="Napredno"]::before,
.theme-dark .item_b3f026[aria-label="Avanzate"]::before,
.theme-dark .item_b3f026[aria-label="Papildomi"]::before,
.theme-dark .item_b3f026[aria-label="Fejlett"]::before,
.theme-dark .item_b3f026[aria-label="Geavanceerd"]::before,
.theme-dark .item_b3f026[aria-label="Avansert"]::before,
.theme-dark .item_b3f026[aria-label="Zaawansowane"]::before,
.theme-dark .item_b3f026[aria-label="Avançado"]::before,
.theme-dark .item_b3f026[aria-label="Funcții avansate"]::before,
.theme-dark .item_b3f026[aria-label="Edistynyt"]::before,
.theme-dark .item_b3f026[aria-label="Avancerat"]::before,
.theme-dark .item_b3f026[aria-label="Nâng cao"]::before,
.theme-dark .item_b3f026[aria-label="Gelişmiş"]::before,
.theme-dark .item_b3f026[aria-label="Pokročilé"]::before,
.theme-dark .item_b3f026[aria-label="Προχωρημένο"]::before,
.theme-dark .item_b3f026[aria-label="Разширени"]::before,
.theme-dark .item_b3f026[aria-label="Додаткові налаштування"]::before,
.theme-dark .item_b3f026[aria-label="एडवांस"]::before,
.theme-dark .item_b3f026[aria-label="ขั้นสูง"]::before,
.theme-dark .item_b3f026[aria-label="高级设置"]::before,
.theme-dark .item_b3f026[aria-label="詳細設定"]::before,
.theme-dark .item_b3f026[aria-label="進階"]::before,
.theme-dark .item_b3f026[aria-label="고급"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/Advanced.svg) center;
}

.theme-dark .item_b3f026[data-tab-id="Activity Privacy"]::before,
.theme-dark .item_b3f026[aria-label="Конфиденциальность активности"]::before,
.theme-dark .item_b3f026[aria-label="Activity Privacy"]::before,
.theme-dark .item_b3f026[aria-label="Privatsphäre deiner Aktivitäten"]::before,
.theme-dark .item_b3f026[aria-label="Aktivitet privatliv"]::before,
.theme-dark .item_b3f026[aria-label="Privacidad de la actividad"]::before,
.theme-dark .item_b3f026[aria-label="Confidentialité des activités"]::before,
.theme-dark .item_b3f026[aria-label="Privatnost aktivnosti"]::before,
.theme-dark .item_b3f026[aria-label="Privacy attività"]::before,
.theme-dark .item_b3f026[aria-label="Veiklos privatumas"]::before,
.theme-dark .item_b3f026[aria-label="Tevékenység-adatvédelem"]::before,
.theme-dark .item_b3f026[aria-label="Activiteitenprivacy"]::before,
.theme-dark .item_b3f026[aria-label="Personvern ved aktivitet"]::before,
.theme-dark .item_b3f026[aria-label="Prywatność aktywności"]::before,
.theme-dark .item_b3f026[aria-label="Privacidade nas atividades"]::before,
.theme-dark .item_b3f026[aria-label="Confidențialitate activitate"]::before,
.theme-dark .item_b3f026[aria-label="Toiminnan yksityisyys"]::before,
.theme-dark .item_b3f026[aria-label="Aktivitetsintegritet"]::before,
.theme-dark .item_b3f026[aria-label="Tính bảo mật của Hoạt động"]::before,
.theme-dark .item_b3f026[aria-label="Etkinlik Gizliliği"]::before,
.theme-dark .item_b3f026[aria-label="Ochrana osobních údajů při aktivitách"]::before,
.theme-dark .item_b3f026[aria-label="Απόρρητο δραστηριότητας"]::before,
.theme-dark .item_b3f026[aria-label="Поверителност на дейностите"]::before,
.theme-dark .item_b3f026[aria-label="Конфіденційність активності"]::before,
.theme-dark .item_b3f026[aria-label="एक्टिविटी प्राइवेसी"]::before,
.theme-dark .item_b3f026[aria-label="ความเป็นส่วนตัวของกิจกรรม"]::before,
.theme-dark .item_b3f026[aria-label="当前状态隐私"]::before,
.theme-dark .item_b3f026[aria-label="アクティビティのプライバシー"]::before,
.theme-dark .item_b3f026[aria-label="活動隱私"]::before,
.theme-dark .item_b3f026[aria-label="활동 개인정보"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/ActivityPrivacy.svg) center;
}

.theme-dark .item_b3f026[data-tab-id="Game Activity"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/games.png) center;
}

.theme-dark .item_b3f026[data-tab-id="Overlay"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/overlay.png) center;
}

.bd-settings-tab::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/core.png) center;
}

.bd-updates-tab::before,
.vc-updater::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/BDUpdates.svg) center;
}

.bd-customcss-tab::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/css.png) center;
}

.bd-plugins-tab::before,
.vc-plugins::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/plugins.png) center;
}

.bd-themes-tab::before,
.vc-themes::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/theme.png) center;
}

.theme-dark .item_b3f026[data-tab-id="changelog"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/changelog.png) center;
}

.theme-dark .item_b3f026[data-tab-id="merchandise"]::before,
.theme-dark .item_b3f026[aria-label="Атрибутика"]::before,
.theme-dark .item_b3f026[aria-label="Merch"]::before,
.theme-dark .item_b3f026[aria-label="Merchandise"]::before,
.theme-dark .item_b3f026[aria-label="Merchandising"]::before,
.theme-dark .item_b3f026[aria-label="Produits dérivés"]::before,
.theme-dark .item_b3f026[aria-label="Suvenirčići"]::before,
.theme-dark .item_b3f026[aria-label="Articoli"]::before,
.theme-dark .item_b3f026[aria-label="Attributika"]::before,
.theme-dark .item_b3f026[aria-label="Termékek"]::before,
.theme-dark .item_b3f026[aria-label="Varer"]::before,
.theme-dark .item_b3f026[aria-label="Gadżety"]::before,
.theme-dark .item_b3f026[aria-label="Mercadoria"]::before,
.theme-dark .item_b3f026[aria-label="Produse"]::before,
.theme-dark .item_b3f026[aria-label="Myyntitavarat"]::before,
.theme-dark .item_b3f026[aria-label="Ürünler"]::before,
.theme-dark .item_b3f026[aria-label="Zboží"]::before,
.theme-dark .item_b3f026[aria-label="Αντικείμενα"]::before,
.theme-dark .item_b3f026[aria-label="Стоки"]::before,
.theme-dark .item_b3f026[aria-label="मर्चन्डाइस"]::before,
.theme-dark .item_b3f026[aria-label="สินค้า"]::before,
.theme-dark .item_b3f026[aria-label="周边商品"]::before,
.theme-dark .item_b3f026[aria-label="グッズ"]::before,
.theme-dark .item_b3f026[aria-label="週邊商品"]::before,
.theme-dark .item_b3f026[aria-label="굿즈"]::before {
	background: url(https://xcruxiex.github.io/themes/core/Settings-Icons/Merch.svg) center;
}

.theme-dark .item_b3f026[data-tab-id="Hypesquad Online"]::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/hype.png) center;
}

.theme-dark .item_b3f026[data-tab-id="logout"]::before,
.theme-dark .item_b3f026:has(path[d="M2.75 3.02A3 3 0 0 1 5 2h10a3 3 0 0 1 3 3v7.64c0 .44-.55.7-.95.55a3 3 0 0 0-3.17 4.93l.02.03a.5.5 0 0 1-.35.85h-.05a.5.5 0 0 0-.5.5 2.5 2.5 0 0 1-3.68 2.2l-5.8-3.09A3 3 0 0 1 2 16V5a3 3 0 0 1 .76-1.98Zm1.3 1.95A.04.04 0 0 0 4 5v11c0 .36.2.68.49.86l5.77 3.08a.5.5 0 0 0 .74-.44V8.02a.5.5 0 0 0-.32-.46l-6.63-2.6Z"])::before {
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/logout.png) center;
}

.theme-dark .selectedBackground_e681d1:before {
	content: "";
	width: 20px;
	height: 20px;
	background-size: cover !important;
	background: url(https://khimarikmayer.github.io/Nocturnal-discord-theme/icons/nitro.png) center;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
